<ion-header>
  <ion-toolbar>
    <ion-title>qoute</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of gsc.mainOrderList">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                  <ion-label>Location: {{item.location}} <br>
                             Height: {{item.height}} Width: {{item.width}}
                  </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-label>Market <br>
                           
                </ion-label>
              </ion-col>
              <ion-col size="2">
                  <ion-label>20%<br>
                  </ion-label>
              </ion-col>
              <ion-col size="2">
                  <ion-label>25%<br>
                  </ion-label>
              </ion-col>
            </ion-row>
              
          </ion-grid>
        </ion-item>
      </ion-list>
</ion-content>
