<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="ion-content">
<div>
        <form [formGroup]="loginForm" (submit)="bLogin()">
            <ion-item class= "inputBlock">
              <ion-input #email formControlName="email" type="email" placeholder="Your email address"
                [class.invalid]="!loginForm.controls.email.valid &&
                  loginForm.controls.email.dirty"
                  ></ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty && invalidE">
                  <p>Please enter a valid email.</p>
            </ion-item>
        
            <ion-item class="inputBlock">
              <ion-input #password formControlName="password" type="password" placeholder="Your password"
                [class.invalid]="!loginForm.controls.password.valid &&
                  loginForm.controls.password.dirty"
                 ></ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && invalidP &&
              loginForm.controls.password.dirty">
              <p>Your password needs more than 6 characters.</p>
            </ion-item>
         
        </form>
        <button ion-button clear class="ForgotButton" (click)="ibPromptResetPass()">forgot password?</button>
    <div *ngIf="notInputing">
        <div text-center>
          <div class="LBWrapper">
              <button class="LoginButton"  (click)="bLogin()">
                Login
              </button>
          </div>
          <div class="SBWrapper">
              <button class="SBButton" (click)="bNavToSignUp()" >
                  <div class="SBInner">Sign Up</div>
              </button>
          </div>
        </div>
        
    </div>
</div>
</ion-content>
