.ion-content{
    z-index: -1;
    width: 100vw;
    height: 100vh;
    --background: linear-gradient(rgba(255,255,255,0.8), rgba(245,245,240,0.5)),url();

}
.LBWrapper{
    width: 130px;
    height: 60px;
    background-color:#d4872f;
    margin: 25vw auto;
    border-radius: 8px;
    z-index: 1;
}
.LoginButton{
    width: 120px;
    height: 50px;
    border-radius: 6px;
    border: 3px white solid;
    z-index: 2;
    background-color: #d4872f;
    color:white;
    font-size: 18px;
    margin: 5px auto;
}
.ForgotButton{
    margin: 0px auto;
    width: 150px;
    font-size: 14px;
    text-align: right;
    display: block;
}
.SBWrapper{
    position: relative;
    bottom: 0;
    width: 100vw;
    height: auto;
}
.SBInner{
    border-radius: 40px;
    width: 80px;
    height: 80px;
    background: #627561;
    color:white;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding-top: 25px;

}
.SBButton{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px auto;
    font-weight: 500;
    font-size: 20px;
    color: black;
    background-color:white;
    border: solid #d4872f 3px; 
}

.center{
        text-align:center;
        margin-top: -40px;
}
.inputBlock{
    background-color: #d4872f;
    width: 80%;
    height: 50px;
    margin: 20px auto;
    border-radius: 10px;
    color: black;
}
.input{
    width: 90vw; 
    margin: 10px auto 10px auto;
    text-align: center;
}
.icon{
        margin: 10px;
}
@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
form {
    margin-bottom: 32px;
    button {
        margin-top: 20px;
    }
    }

p{
    font-size: 0.8em;
    color: #d2d2d2;
}

ion-label {
    margin-left: 5px;
}

ion-input {
    padding: 5px;
}

.invalid {
    border-bottom: 1px solid #ff6153;
}

.error-message .item-inner {
    border-bottom: 0 !important;
}
  