<ion-header>

    <ion-title>SignUp</ion-title>


</ion-header>


<ion-content padding>
    <form [formGroup]="signUpForm" (submit)="signUpUser()" novalidate>
        <ion-label class="ion-label">Email</ion-label>
        <ion-item class="inputBlock">
        <ion-input #email formControlName="email" type="email" placeholder="Your email address"
          [class.invalid]="!signUpForm.controls.email.valid &&
          signUpForm.controls.email.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signUpForm.controls.email.valid  &&
      signUpForm.controls.email.dirty">
        <p>Please enter a valid email.</p>
      </ion-item>
      <ion-label class="ion-label">Password</ion-label>
      <ion-item class="inputBlock">
        <ion-input #password formControlName="password" type="password" placeholder="Your password"
          [class.invalid]="!signUpForm.controls.password.valid &&
          signUpForm.controls.password.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signUpForm.controls.password.valid  &&
      signUpForm.controls.password.dirty">
        <p>Your password needs more than 6 characters.</p>
      </ion-item>     
     
    </form>
    <ion-label class="ion-label">Username</ion-label>
    <ion-item class="inputBlock">
      <ion-input type="text"  placeholder="Your user name" [(ngModel)]="uniqueName" [formControl]="textInput"></ion-input>
    </ion-item>       
    <div >
      <p *ngIf="!available">Please choose a different name</p>   
      <p *ngIf="available && uniqueName !== ''">{{uniqueName}} is open for you</p>   
    </div>
    <div class="SBWrapper">
      <button  ion-button (click)="ibSignUpUser()" class="signUpButton">
        Sign Up
      </button>
    </div>
  
   
</ion-content>
