<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-button outline="none" style="float: right">History</ion-button>
  </ion-toolbar>

</ion-header>

<ion-content style="text-align: center">
  <ion-card>
      <ion-item>
          <ion-label>Customer Name:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Address:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Phone Number:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-button (click)="gsc.selectTypesOfWindow()">Type: {{gsc.mainWindowType}}</ion-button>
  </ion-card>
  

  <ion-card lines="none">
      <ion-item lines="none">
          <ion-label>Location:</ion-label>
          <ion-input [(ngModel)]="newItemLocation"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Operation:</ion-label>
          <ion-input  [(ngModel)]="newItemOperation"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-label >Height:</ion-label>
            <ion-input type="number" [(ngModel)]="newItemHeight"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Width:</ion-label>
          <ion-input  type="number" [(ngModel)]="newItemWidth"></ion-input>
        </ion-item>
        <ion-button (click)="addItem()"><ion-icon name="add"></ion-icon> Window</ion-button>
  </ion-card>
  

  <ion-list>
    <ion-item *ngFor="let item of gsc.mainOrderList">
      <ion-label>Location: {{item.location}} <br>
                 Operation: {{item.operation}} <br>
                 Height: {{item.height}} Width: {{item.width}}
      </ion-label>
    </ion-item>
  </ion-list>

<ion-button outline="single" (click)="showQuote">Quote</ion-button>

</ion-content>
